The Java part of the project relies on:
- OpenJDK		    v.21.0.2
    and then set:
        export JAVA_HOME=path/to/jdk-21.0.2
        export PATH=$PATH:$JAVA_HOME/bin
- Maven		        v.3.9.10
    and then set:
        export M2_HOME=path/to/apache-maven-3.9.10
        export PATH=$PATH:$M2_HOME/bin
- Python:			v.3.10.12
- CUDA Toolkit:		v.11.6.0
    and then set:
        export CUDA_HOME=path/to/cuda-11.6
        export PATH=$PATH:$CUDA_HOME/bin
        export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$CUDA_HOME/lib64
- cuDNN:            v.8.3

And other external libraires installed through Maven:
- Deeplearning4j    v.1.0.0-M2.1
